#opening{color: white; font-size: 15mm;
    background-color: blue;
    height: 75mm
}
#welcome{margin-left: 5mm;
         font-family: Arial;
}
#jaysdomain{text-align: center;
}
.format{font-size: 7mm;
        text-align: center;
        color: white;
        background-color: blue;
        height: 10mm;
        border-top: white;
}
.link{background-color: azure;
      border-radius: 22%;
      margin-top: -20mm;
      padding: 2mm;
      font-size: 5mm;
      position: fixed;
}
#index_link{position: sticky;
            position: -webkit-sticky;
}
.index_link{background-color: azure;
            border-radius: 21%;
            display: inline-block;
            Margin: 5mm;
            padding: 2mm;
}
body{background-color: lightgrey;
}
h2{text-align: center;
}
h3{text-align: center;
}
p{text-align: center;
  border-block-end: 10mm;       
}
#border{background-color: white;
        background-origin: border-box;
        margin-left: 25mm;
        margin-right: 25mm;
        font-size: 5mm;
}
.image{height: 251px;
       width: 251px;
}