#opening{color: white; font-size: 15mm;
         background-color:blue;
         height: 75mm;
}
#welcome{margin-left: 5mm;
         font-family: Arial;
}
#jaysdomain{text-align: center;
}
.format{font-size: 10mm;
        text-align: center;
        color: white;
        background-color: blue;
        height: 10mm;
        border-top: white;
        padding:5mm
}
#position{position: fixed;
          position: top 0;      
}
.link{background-color: azure;
      display: inline-block;
      border-color: rgb(0, 81, 255);
      border-radius: 22%;
      Margin: 1mm;
      padding: 2mm;    
}
.index_link{background-color: azure;
            border-radius: 22%;
            display: inline-block;
            Margin: 5mm;
            padding: 2mm;
}
body{background-color: lightgrey;
}
h2{text-align: center;
}
h3{text-align: left;
}
p{text-align: center;
  border-block-end: 10mm;       
}
#border{background-color: white;
        background-origin: border-box;
        margin-top: 3mm;
        margin-left: 27mm;
        margin-right: 27mm;
        font-size: 5mm;
        padding: 2mm;
}
.image{height: 251px;
       width: 251px;
}
#work_in_progress{color: lightgray;       
                  text-align: center;
                  font-size: 7mm;
                  background-image: linear-gradient(to bottom right, black, yellow, black, yellow,
                  black, yellow, black, yellow, black, yellow,
                  black, yellow, black, yellow);
                  padding: 15mm;
                  margin-top: 3mm;
}
.sword{color: rgb(158, 158, 158);
       background-image: linear-gradient(to bottom left,
       white, azure, lightblue);
       border-left-color: rgb(107, 39, 0);
       border-left-style: initial;
       border-left-width: 3mm;
       align-content: center;
       border-top-right-radius: 50%;
       border-bottom-right-radius: 50%;
       padding-top: 1px;
       padding-bottom: 15px;
       padding-right: 1px;
       padding-left: 1px;
       margin-right: 959px;
       margin-left: 61px;
       display: inline;
}
.hilt{color: blue;
      background-color: rgb(119, 66, 23);
      border-top-left-radius: 90%;
      border-bottom-left-radius: 90%;
      padding-top: 8mm;
      padding-bottom: 3mm;
      margin-right: 1280px;
      margin-left: 55px;
      display: inline;
}